In [7]:


#Import modules
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib as plt

In [8]:
#Import csv file
url = 'https://raw.githubusercontent.com/umaimehm/Intro_to_AI_2021/main/Lab1/stud.csv'
#Read the csv, notice sep=','.. For CSV files created in Norwegian excel we need to use sep=';'#
#df = pd.read_csv(url, na_values=' ') You can use this for automatically convert blank space to nan values
df = pd.read_csv(url, sep=',')

df.head()

   StudentID  Age              email hrsStudy  FinalGrade
0      47412   20  s47412@oslomet.no        5        46.0
1      15077   22  s15077@oslomet.no        0        65.0
2      15467   27  s15467@oslomet.no        1        26.0
3      17907   21  s17907@oslomet.no        6        68.0
4      13352  333  s13352@oslomet.no        4        34.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   50 non-null     int64
 1   Age         50 non-null     object
 2   email       50 non-null     object
 3   hrsStudy    50 non-null     object
 4   FinalGrade  49 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.1+ KB