In [8]:
from faker import Faker
import pandas as pd
from laundromat.spacy.spacy_model import SpacyModel
from faker.providers.credit_card import Provider as CreditCardProvider #Add creditcards to faker

In [9]:
import spacy
print(spacy.__version__)

2.3.2

In [10]:
fake = Faker(['no_NO']) #Create a faker with norwegian Names and structures

In [11]:
df = pd.DataFrame(columns=['Navn','Adresse','PersonNr', 'CreditCard', 'ipv4']) # Create a empty df

In [12]:
for i in range(100):
    row = fake.name(),fake.address(),fake.ssn(),fake.credit_card_number(),fake.ipv4()
    df.loc[i]=row

In [13]:
df.head()

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Laila Kristensen,"Sandvikrøa 22, 3102 Lunde",11104848518,4673511042589729031,115.214.4.48
1,Hege Hanssen,"Kristiansenhagen 12D, 8394 Hannevær",05085443129,3579229615301249,164.137.2.244
2,Håkon Nguyen,"Knutsenhagen 20G, 9865 Myklebust",23033719930,5237908459543813,153.173.208.82
3,Rune Myklebust,"Antonsenbråten 6D, 8628 Nguyen",30124214080,4393565735211129,64.202.81.122
4,Stine-Hege Thomassen,"Kristoffersenstubben 144, 2154 Kjellstrand",30014944229,4156647065282917,66.129.241.192

In [27]:
3/5

0.6

In [21]:
textArray = [] #Create a empty array
for row in range(10):
# Do a for loop, and assign values to name and adress
    row=df.iloc[i]
    name = row[0] 
    adress = row[1]
    ssn = row[2]
    cc = row[3]
    #Using f string we can now create a new string with the values, and
    #append (add) that string to the text array
    textArray.append(f'Hi, my name is {name}. I wonder if you deliver to {adress}, my visa is {cc} and my ssn is {ssn}')

In [22]:
nlp = SpacyModel()

In [23]:
for line in textArray:
    entities = nlp.predict(line)
    replaced_text_1 = nlp.replace(line, replacement="entity", replacement_char=":^)")
    print(line)
    print(replaced_text_1+'\n')

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet 049, 9062 <PER>, my visa is 4853899966723 and my ssn is 03049943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet 049, 9062 <PER>, my visa is 4853899966723 and my ssn is 03049943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet 049, 9062 <PER>, my visa is 4853899966723 and my ssn is 03049943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet 049, 9062 <PER>, my visa is 4853899966723 and my ssn is 03049943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet 049, 9062 <PER>, my visa is 4853899966723 and my ssn is 03049943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet 049, 9062 <PER>, my visa is 4853899966723 and my ssn is 03049943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet 049, 9062 <PER>, my visa is 4853899966723 and my ssn is 03049943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet 049, 9062 <PER>, my visa is 4853899966723 and my ssn is 03049943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet 049, 9062 <PER>, my visa is 4853899966723 and my ssn is 03049943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet 049, 9062 <PER>, my visa is 4853899966723 and my ssn is 03049943007

In [24]:
nlp.add_patterns(lookup=True)
nlp.print_regex_labels()

FNR
CREDIT_CARD
TLF
DTM
AMOUNT

In [26]:
for line in textArray:
    entities = nlp.predict(line)
    replaced_text_1 = nlp.replace(line, replacement="entity", replacement_char=":^)")
    print(line)
    print(replaced_text_1+'\n')

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007

Hi, my name is Siri Danielsen. I wonder if you deliver to Henriksentjernet 049, 9062 Eliassen, my visa is 4853899966723 and my ssn is 03049943007
Hi, my name is <PER>. I wonder if you deliver to Henriksentjernet <DTM>, 9062 <PER>, my visa is <CREDIT_CARD> and my ssn is 03<DTM>943007